<!-- TOPBAR -->
<link rel="stylesheet" href="../style.css" />
<div class="topbar d-flex align-items-center">
  <div class="container d-flex justify-content-between py-2">
    <div class="top-left text-white small d-flex align-items-center flex-wrap">
      <span><i class="bi bi-telephone-fill me-1"></i> 0989. 988 988</span>
      <span class="mx-2">|</span>
      <span><i class="bi bi-envelope-fill me-1"></i> hotro@bookstore.com</span>
      <span class="mx-2">|</span>
      <span
        ><i class="bi bi-geo-alt-fill me-1"></i> 55 Giải Phóng , Lớp 68PM2 , Đại
        học Xây Dựng Hà Nội</span
      >
    </div>

    <div class="top-right small">
      <button
        class="btn-topbar me-3"
        onclick="window.location.href='../components/register.html'"
      >
        <h6>ĐĂNG KÝ</h6>
      </button>
      <button
        class="btn-topbar"
        onclick="window.location.href='../components/login.html' "
      >
        <h6>ĐĂNG NHẬP</h6>
      </button>
    </div>
  </div>
</div>

<!-- === HEADER CHÍNH === -->
<header>
  <div class="container d-flex justify-content-between align-items-center">
    <a href="index.html" class="btn-logo">
      <img src="images/tenweb.png" alt="BookStore Logo" height="50">
    </button>

    <!-- Ô tìm kiếm -->
    </a>
    
    <div class="search-box">
      <input type="text" class="form-control" placeholder="Tìm kiếm sách, tác giả, thể loại..."/>
      <button class="btn">
        <i class="bi bi-search"></i> Tìm kiếm 
      </button>
    </div>

    <!-- Giỏ hàng -->
    <a href="pages/cart.html" class="btn-cart position-relative text-dark">
      <img src="logo/cart.png" alt="Giỏ hàng" height="30">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px;">
        1
      </span>
    </a>
    
  </div>
</header>
