<!-- BANNER: tất cả có thể bấm -->
<div class="mb-4">

  <!-- Banner lớn (carousel) -->
  <div id="homeCarousel" class="carousel slide rounded" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- bọc ảnh trong thẻ <a> -->
        <a href="#">
          <img src="images/anh01_banner.png" class="d-block w-100" alt="banner1">
        </a>
      </div>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

  <!-- Row: hai banner nhỏ ngang nhau -->
  <div class="row g-3 mt-3 align-items-stretch">
    <div class="col-md-6">
      
        <a href="#">
          <img src="images/anh02_banner.png" class="promo-img rounded" alt="promo1">
        </a>
      
    </div>
    <div class="col-md-6">
      <div class="promo-wrap h-100">
       
        <a href="#">
          <img src="images/anh03_banner.png" class="promo-img rounded" alt="promo2">
        </a>
      </div>
    </div>
  </div>
</div>

