<h4 class="section-title mb-3">GIAN HÀNG SÁCH HOT/SALE</h4>
<!--  Sách Mới Nổi Bật -->
<section class="mb-5 section-box">
  <h5 class="section-title mb-3">Sách Mới Nổi Bật</h5>
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <!--sách nổi bật 1 : Nguyên tắc gd trong ngày -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh04.png" class="card-img-top" alt="anh04">
        <div class="card-body">
          <h6 class="card-title">Nguyên Tắc Giao Dịch...</h6>
          <p class="price mb-0">
            <span class="sale">175.500đ</span>
            <span class="original">195.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sach nb 2: tài chính cá nhân căn bản -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh05.png" class="card-img-top" alt="anh05">
        <div class="card-body">
          <h6 class="card-title">Tài Chính Cá Nhân Căn...</h6>
          <p class="price mb-0">
            <span class="sale">175.500đ</span>
            <span class="original">195.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sách nb 3 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh06.png" class="card-img-top" alt="anh06">
        <div class="card-body">
          <h6 class="card-title">Nhà Đầu Tư Thông Minh</h6>
          <p class="price mb-0">
            <span class="sale">191.000đ</span>
            <span class="original">212.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sách nb 4 : cẩm nang đầu tư bất đọng sản -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh07.png" class="card-img-top" alt="anh07">
        <div class="card-body">
          <h6 class="card-title">Cẩm Nang Đầu Tư Bất...</h6>
          <p class="price mb-0">
            <span class="sale">175.500đ</span>
            <span class="original">195.000đ</span>
        </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>
    </div>
  </div>
</section>

<!--  Sách Tâm Lý - Kỹ Năng -->
<section class="mb-5 section-box">
  <h5 class="section-title mb-3">Sách Tâm Lý - Kỹ Năng</h5>
  <div class="row row-cols-2 row-cols-md-4 g-4">

    <!-- sách tâm lý 1 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh10.png" class="card-img-top" alt="anh10">
        <div class="card-body">
          <h6 class="card-title">Án Tử Của Thiên Tài</h6>
          <p class="price mb-0">
            <span class="sale">135.000đ</span>
            <span class="original">150.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>
<!-- sách tâm lý  -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-11%</span></div>
        <img src="images/anh11.png" class="card-img-top" alt="anh11">
        <div class="card-body">
          <h6 class="card-title">Nghĩ Chơi Để Sống</h6>
          <p class="price mb-0">
            <span class="sale">124.000đ</span>
            <span class="original">140.000đ</span>
        </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sách tâm lý 3 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-11%</span></div>
        <img src="images/anh12.png" class="card-img-top" alt="anh12">
        <div class="card-body">
          <h6 class="card-title">Sau Khi Ta Lớn</h6>
          <p class="price mb-0">
            <span class="sale">80.000đ</span>
            <span class="original">90.000đ</span>
 </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sách tâm lý 4 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh13.png" class="card-img-top" alt="anh13">
        <div class="card-body">
          <h6 class="card-title">Người Phụ Nữ Toàn Vẹn</h6>
          <p class="price mb-0">
            <span class="sale">152.000đ</span>
            <span class="original">170.000đ</span>
         </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>
  </div>
</section>

<!--  Sách Thiếu Nhi -->
<section class="mb-5 section-box">
  <h5 class="section-title mb-3">Sách Thiếu Nhi</h5>
  <div class="row row-cols-2 row-cols-md-4 g-4">

    <!-- sách thiếu nhi 1 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh14.png" class="card-img-top" alt="anh14">
        <div class="card-body">
          <h6 class="card-title">Sổ Tô Màu Cổ Tích</h6>
          <p class="price mb-0">
            <span class="sale">79.200đ</span>
            <span class="original">88.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sách thiếu nhi 2 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh15.png" class="card-img-top" alt="anh15">
        <div class="card-body">
          <h6 class="card-title">Hạt Mầm Vui Hội Bốn...</h6>
          <p class="price mb-0">
            <span class="sale">62.000đ</span>
            <span class="original">69.000đ</span>
           </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

<!-- sách thiếu nhi 3 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/anh16.png" class="card-img-top" alt="anh16">
        <div class="card-body">
          <h6 class="card-title"> Hạt Mầm Phiêu Lưu Ký </h6>
          <p class="price mb-0">
            <span class="sale">62.000đ</span>
            <span class="original">69.000đ</span>
        </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- sahc theius nhi 4 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-11%</span></div>
        <img src="images/anh17.png" class="card-img-top" alt="anh17">
        <div class="card-body">
          <h6 class="card-title">Những Ngôi Làng Trên...</h6>
          <p class="price mb-0">
            <span class="sale">120.000đ</span>
            <span class="original">135.000đ</span>
        </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>
  </div>
</section>





<!-- SECTION: Sách Kinh Tế -->
<section class="mb-5 section-box">
  <h5 class="section-title mb-3">Sách Kinh Tế</h5>
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <!-- ảnh kinh tế 1 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_01.png" class="card-img-top" alt="anh04">
        <div class="card-body">
          <h6 class="card-title">Nhân Sự Thực Chiến</h6>
          <p class="price mb-0">
            <span class="sale">126.000đ</span>
            <span class="original">140.000đ</span>
           </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 2 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_02.png" class="card-img-top" alt="Kt_02">
        <div class="card-body">
          <h6 class="card-title">Nghệ Thuật Lãnh Đạo</h6>
          <p class="price mb-0">
            <span class="sale">175.500đ</span>
            <span class="original">195.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 3 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_03.png" class="card-img-top" alt="anh06">
        <div class="card-body">
          <h6 class="card-title">Tự Do Tài Chính</h6>
          <p class="price mb-0">
            <span class="sale">135.000đ</span>
            <span class="original">150.000đ</span>
           </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 4  -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_04.png" class="card-img-top" alt="anh07">
        <div class="card-body">
          <h6 class="card-title">Nghịch Lý CIO</h6>
          <p class="price mb-0">
            <span class="sale">121.500đ</span>
            <span class="original">135.000đ</span>
         </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 5 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_05.png" class="card-img-top" alt="anh04">
        <div class="card-body">
          <h6 class="card-title">Nghệ Thuật Đàm Phán</h6>
          <p class="price mb-0">
            <span class="sale">126.000đ</span>
            <span class="original">140.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 6 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_06.png" class="card-img-top" alt="Kt_02">
        <div class="card-body">
          <h6 class="card-title">Nhà Lãnh Đạo Xuất Chúng</h6>
          <p class="price mb-0">
            <span class="sale">112.500đ</span>
            <span class="original">125.000đ</span>
           </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 7 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_07.png" class="card-img-top" alt="anh06">
        <div class="card-body">
          <h6 class="card-title">Tự Do Tài Chính</h6>
          <p class="price mb-0">
            <span class="sale">148.500đ</span>
            <span class="original">165.000đ</span>
           </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>

    <!-- ảnh kinh tế 8 -->
    <div class="col">
      <div class="card h-100 book-card position-relative">
        <div class="badge-corner"><span class="badge bg-danger">-10%</span></div>
        <img src="images/Kt_08.png" class="card-img-top" alt="anh07">
        <div class="card-body">
          <h6 class="card-title">Cẩm Nang Đầu Tư Bất...</h6>
          <p class="price mb-0">
            <span class="sale">139.500đ</span>
            <span class="original">155.000đ</span>
          </p>
        </div>
        <!--  Nút giỏ hàng nhỏ -->
  <button class="btn-add-cart">
    <i class="bi bi-cart-plus"></i>
  </button>
      </div>
    </div>
  </div>
</section>
